html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #333;
  font-family: sans-serif;
  overflow: hidden;
}

html,
body,
main,
section,
article,
button,
input,
div,
span {
  box-sizing: border-box;
}
